@model HeaderLinksModel
@inject Nop.Core.IWebHelper webHelper

<div class="top_nav">
    <div class="container">
        <div class="row">
            @*<div class="col-md-6">

            </div>*@
                <div class="text-right">
                    <div class="top_nav_right">
                        @if (Model.IsAuthenticated)
                        {
                            <div class="top_nav_menu1">
                                <div class="currency"> @await Component.InvokeAsync("AdminHeaderLinks") </div>
                                <div class="account"><a href="@Url.RouteUrl("CustomerInfo")"> @*<i class="fa fa-user" aria-hidden="true"></i>*@ Account</a> </div>
                                <div class="account"><a href="@Url.RouteUrl("Logout")">@T("Account.Logout")</a> </div>
                                <div class="account"><a href="@Url.RouteUrl("ContactUs")">CONTACT</a> </div>
                            </div>
                        }
                        else
                        {
                            var returnUrl = Context.Request.Query.TryGetValue("returnUrl", out var url) && !StringValues.IsNullOrEmpty(url)
                            ? url.ToString()
                            : webHelper.GetRawUrl(Context.Request);
                    <div class="top_nav_menu">
                        <div class="language" style="background: none;  border-right: none;">
                            <ul>
                                <li class="drop-down" >
                                    <a href="" style="color:white!important;">ORDER ONLINE</a>
                                    <ul style="background:black!important;">
                                        <li>
                                            <a href="/corporatecustomer/register/" style="color:white!important;    padding: 10px 20px;"> ORDER TRADE</a>
                                        </li>
                                        <li>
                                            <a href="@Url.RouteUrl("Register")" style="color:white!important;    padding: 10px 20px;">
                                                HOME DELIVERY
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.RouteUrl("Login")" style="color:white!important;     padding: 10px 20px;">
                                                @T("Account.Login")
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        @*<div class="language">
                            <a href="@Url.RouteUrl("Login")" class="ico-login"> <i class="fa fa-user-plus" aria-hidden="true"></i> @T("Account.Login")</a>
                        </div>*@
                        <div class="language"><a href="@Url.RouteUrl("ContactUs")" style="color:white!important;">CONTACT</a> </div>
                    </div>
                        }


                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksAfter })
                    </div>
                        </div>
            
            </div>
        </div>
</div>
@if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
{
    //new private message notification
    <script asp-location="Footer">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(Model.AlertMessage))', 'success', false);
            });
    </script>
}

@*<script asp-location="Footer">
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>*@
